* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, Helvetica;
    max-width: 100%;
    max-height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: min-content;
    margin-bottom: 35px;
}

.container-header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: min-content;
    padding: 10px;
}

.left-header-desktop {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-inside-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-header-desktop box-icon {
    cursor: pointer;
}

.left-header-desktop .logo a {
    display: flex;
    gap: 10px;
}

.left-header-desktop .logo-2 {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

.left-header-desktop #logo-circulo  {
    width: 50px;
}

.search-desktop {
    display: flex;
    height: 30px;
}

.search-area-desktop {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #B8BABD;
    padding: 6px 8px;
}

.search-desktop button {
    border: 1px solid #B8BABD;
    padding: 0 8px;
    height: 100%;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: #b8babd23;
}

.search-desktop button:hover {
    background-color: #fff;
}

.search-area-desktop input {
    border: none;
    width: 300px;
    outline: 0;
}

.rigth-header-desktop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rigth-header-desktop a {
    color: #3366D3;
    text-decoration: none;
}

.rigth-header-desktop a:hover {
    text-decoration: underline;
}

.rigth-header-desktop a box-icon:hover {
    background-color: #b8babd23;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: min-content;
    padding: 0 20px;
}

.container-main {
    border-top: 2px solid #B8BABD;
    width: 950px;
}

.menu-main-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #B8BABD;
}

.menu-main-top a {
    font-size: 14px;
    text-decoration: none;
    color: #3366D3;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
}

.menu-main-top .active {
    color: black;
    border-bottom: 2px solid black;
}

.menu-main-top a:hover {
    border-bottom: 2px solid #3366D3;
}

.container-menu-main-top-right {
    display: flex;
    gap: 10px;
}

#ferramentasButton {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.menu-main-top-left,
.menu-main-top-right {
    display: flex;
    gap: 10px;
}

.menu-main-top-right a{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container-popup-ferramentas {
    width: 100%;
    justify-content: end;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

.popup-ferramentas {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    height: 500px;
    overflow-y: scroll;
    z-index: 99;
    box-shadow: 0px 0px 10px #0000001d;
}

.popup-ferramentas h3 {
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EAECF0;
}

.popup-ferramentas ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
    font-size: 14px;
}

.popup-ferramentas .line {
    color: #545962;
    padding: 5px 0;
    border-bottom: 1px solid #EAECF0;
}

.popup-ferramentas ul a {
    text-decoration: none;
    color: #3366D3;
}

.popup-ferramentas ul a:hover {
    text-decoration: underline;
}

.container-boas-vindas {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    margin-top: 20px;
    box-shadow: 3px 3px 10px #0000000a;
}

.boas-vindas-left,
.boas-vindas-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boas-vindas-left {
    width: 60%;
    height: 120px;
    border-right: 1px solid #E9E9E9;
}

.boas-vindas-right {
    width: 40%;
}

.boas-vindas-left h3, .boas-vindas-left h2 {
    color: #555555;
    
}

